// @require './config'
@import './code'
@import './padding'
// @import './content'
// @require './custom-blocks'
// @require './arrow'
// @require './wrapper'
// @require './toc'
// @require './variable'

html, body
  padding 0
  margin 0
  background-color #fff

body
  // Japanese
  font-family: "Helvetica", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic"!important
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px

.content figure
  margin 0