// colors
$textColor ?= #2c3e50
$accentColor ?= #7ae645
// $accentColor ?= #1e90ff
$grayTextColor ?= #666
$lightTextColor ?= #999
$codeBgColor ?= #282c34
$arrowBgColor ?= #ccc
$navbarColor ?= #fff
$headerColor ?= #fff
$headerTitleColor ?= #fff
$nprogressColor ?= $accentColor

$h1BorderColor ?= #e0e0e0
$h2BorderColor ?= #e0e0e0
$h3BorderColor ?= #eaecef

// responsive breakpoints
$MQWide ?= 1440px
$MQNarrow ?= 1024px
$MQMobile ?= 768px
$MQMobileNarrow ?= 480px

$contentClass = '.content'